.select_padding_col {
    padding: 0;
}


.select_height_2 {
    height: 50px;
}

.font_size_icon {
    font-size: 14px !important;
}

#image_slider_config {
    width: 240px;
    height: 150px;
    border-radius: 0;
    object-fit: cover;
}

.image_slider_edit {
    height: 200px;
    object-fit: cover;
}
