.padding-input-select-2 {
    padding-left: 0;
}

span.select2-selection.select2-selection--single {
    height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
}