.swal2-modal .swal2-icon  {
    margin-top: 40px;
}

.margin-paginate-slider-index {
    margin-top: 30px;
}

.text-muted {
    display: none;
}

.justify-content-sm-between {
    justify-content: center !important;
}